@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

* {
  padding: 0;
  letter-spacing: 1;
  margin: 0;
  font-family: 'Staatliches', cursive;
}

img {
  width: 3em;
}

.main {
  display: none;
}

.load {
  /*change these sizes to fit into your project*/
  width: 100px;
  height: 100px;
}
.load hr {
  border: 0;
  margin: 0;
  width: 40%;
  height: 40%;
  position: absolute;
  border-radius: 50%;
  animation: spin 2s ease infinite;
}

.load :first-child {
  background: #ffffff;
  animation-delay: -1.5s;
}
.load :nth-child(2) {
  background: #ffffff;
  animation-delay: -1s;
}
.load :nth-child(3) {
  background: #ffffff;
  animation-delay: -0.5s;
}
.load :last-child {
  background: #ffffff;
}

@keyframes spin {
  0%,
  100% {
    transform: translate(0);
  }
  25% {
    transform: translate(160%);
  }
  50% {
    transform: translate(160%, 160%);
  }
  75% {
    transform: translate(0, 160%);
  }
}

.center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.players {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#dealer-cards,
#player-cards {
  display: flex;
}

#player-total,
#dealer-total {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
  font-size: 2rem;
  transform: rotateX(50deg);
}

.card {
  -webkit-box-shadow: 4px 4px 7px rgba(191, 114, 219, 0.868);
  box-shadow: 4px 4px 7px rgba(191, 114, 219, 0.868);
  border: 2px solid rgb(255, 255, 255);
  text-align: left;
  transform: rotateX(50deg);
  margin: 5px;
  width: 50px;
  height: 100px;
  padding-left: 10px;
  font-size: 20px;
  color: white;
  background-color: rgba(255, 255, 255, 0);
  animation: float 6s ease-in-out infinite;
}

.card-suit {
  color: white;
  margin-top: 40px;
  text-align: right;
}

#coins {
  margin-top: 1em;
  margin-bottom: 1em;
  width: 100%;
}

.coin {
  animation: float 6s ease-in-out infinite;
  border-radius: 50%;
}

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(131, 48, 156, 0.2);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(131, 48, 156, 0.2);
    transform: translatey(-10px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(131, 48, 156, 0.2);
    transform: translatey(0px);
  }
}
.bet {
  margin-top: 30px;
  height: 75px;
  color: white;
  display: inline-block;
  margin-left: 10px;
  padding: 5px;
}

#player-cards,
#dealer-cards {
  margin: -1em;
}

.pushable {
  -webkit-box-shadow: 4px 4px 7px rgba(191, 114, 219, 0.868);
  box-shadow: 4px 4px 7px rgba(191, 114, 219, 0.868);
  background-color: transparent;
  border: none;
  padding: 12px 42px;
  cursor: pointer;
  font-size: 1.2rem;
  outline-offset: 4px;
  border: 1.5px solid white;
  color: white;
}

#hit {
  margin-right: 1em;
}

.btn-main {
  margin-left: 1em;
  position: absolute;
  margin-top: -3em;
}

.bet-info {
  font-size: 2rem;
  color: black;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
}

.hide {
  background-color: black;
  color: black;
}

.controllers {
  padding: 2em;
  position: absolute;
  z-index: 999;
}
.board {
  min-width: 60%;
  text-align: center;
  z-index: 999;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  perspective: 1000px;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  min-width: 80%;
  margin-right: auto;
  margin-left: auto;
}

#winner {
  margin-bottom: -1.3em;
  font-size: 2rem;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
  transform: rotateX(50deg);
}

a {
  cursor: pointer;
}
.hide {
  display: none;
}
.show {
  display: block;
}

.btn {
  cursor: pointer;
  transform: rotateX(50deg);
}

.one {
  border: 4px dashed red;
}
.ten {
  border: 4px dashed blue;
}
.hundred {
  border: 4px dashed green;
}
.five {
  border: 4px dashed black;
}
.allin {
  border: 4px dashed gold;
}
#flip {
  background: rgb(137, 150, 237);
}
.slide {
  animation: float 6s ease-in-out infinite;
  animation: slide 1s;
}
@keyframes slide {
  0% {
    opacity: 0;
    transform: rotateX(50deg);

    transform: translateX(-100px);
  }

  100% {
    opacity: 1;
  }
}
.text-border {
  transform: rotateX(50deg);
}

@media only screen and (max-width: 768px) {
  .card {
    text-align: left;
    transform: rotateX(50deg);
    margin: 5px;
    width: 50px;
    height: 100px;
    padding-left: 10px;
    font-size: 20px;
  }
  .container {
    min-width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
}
