@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

* {
  padding: 0;
  letter-spacing: 1;
  margin: 0;
  font-family: 'Staatliches', cursive;
}

img{
  width: 3em;
}

#loader {
  border: 12px solid #f3f3f3;
  border-radius: 50%;
  border-top: 12px solid #444444;
  width: 70px;
  height: 70px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% {
      transform: rotate(360deg);
  }
}

.center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.players {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#dealer-cards,
#player-cards {
  display: flex;
}

#player-total,
#dealer-total {
  
  color: rgb(159, 94, 200);
  font-size: 1.2em;
  transform: rotateX(50deg);
}

.card {
  text-align: left;
  transform: rotateX(50deg);
  margin: 5px;
  width: 50px;
  height: 100px;
  padding-left: 10px;
  font-size: 20px;
  -webkit-box-shadow: 4px 4px 7px rgba(191, 114, 219, 0.868);
  box-shadow: 4px 4px 7px rgba(191, 114, 219, 0.868);
  background-color: white;
}

.card-suit{
  margin-top: 40px;
  text-align: right;
}

#coins {
  margin-top: 1em;
  margin-bottom: 1em;
  width: 100%;
}

.coin {
  text-align: center;
  height: 40px;
  width: 40px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
}
.bet {
  margin-top: 30px;
  height: 75px;
  color: white;
  display: inline-block;
  margin-left: 10px;
  padding: 5px;
}

#player-cards,
#dealer-cards {
  margin: -1em;
}

.pushable {
  -webkit-box-shadow: 4px 4px 7px rgba(191, 114, 219, 0.868);
  box-shadow: 4px 4px 7px rgba(191, 114, 219, 0.868);
  background-color: rgb(150, 64, 174);
  border-radius: 12px;
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
}
.front {
  display: block;
  padding: 12px 42px;
  border-radius: 12px;
  font-size: 1.25rem;
  background-color: rgb(197, 130, 238);
  color: white;
  transform: translateY(-6px);
}

.pushable:active .front {
  transform: translateY(-2px);
}

#hit {
  margin-right: 1em;
}

.btn-main {
  margin-left: 1em;
  position: absolute;
  margin-top: -3em;
}

#place {
  padding-bottom: 1em;
}

#player-bank {
  color: rgb(0, 0, 0);
  text-shadow: 4px 4px 7px rgba(191, 114, 219, 0.868);
  font-size: 1.5rem;
}

.hide {
  background-color: black;
  color: black;
}

.controllers {
  padding: 2em;
  position: absolute;
  z-index: 999;
}
.board {
  width: 60%;
  text-align: center;
  z-index: 999;
  width: 60%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  perspective: 1000px;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

#winner {
 

  font-size: 1.3rem;
  color: rgb(159, 94, 200);
  transform: rotateX(50deg);
}

a {
  cursor: pointer;
}
.hide {
  display: none;
}
.show {
  display: block;
}

.btn {
  cursor: pointer;
  transform: rotateX(50deg);
}

.one {
  border: 4px dashed red;
}
.ten {
  border: 4px dashed blue;
}
.hundred {
  border: 4px dashed green;
}
.five {
  border: 4px dashed black;
}
.allin {
  border: 4px dashed gold;
}
#flip {
  background: rgb(137, 150, 237);
}
.slide {
  animation: slide 1s;
}
@keyframes slide {
  0% {
    opacity: 0;
    transform: rotateX(50deg);

    transform: translateX(-100px);
  }

  100% {
    opacity: 1;
  }
}
.text-border {
  transform: rotateX(50deg);
}
