.card {
  position: relative;
  float: left;
  margin: 5px;
  width: 60px;
  height: 100px;

  background: #fff;
  border: 1px solid #eee;
  -webkit-box-shadow: 4px 4px 7px rgba(191, 114, 219, 0.868);
  box-shadow: 4px 4px 7px rgba(191, 114, 219, 0.868);
}
.card p {
  margin-top: 35px;
  text-align: center;
  font: 25px Georgia, Times New Roman, serif;
}
.card.suithearts,
.card.suitdiamonds {
  color: rgb(219, 73, 73);
}
.card.suitspades,
.card.suitclubs {
  color: #222;
}

.card.suithearts:before,
.card.suithearts:after {
  content: '♥';
}
.card.suitspades:before,
.card.suitspades:after {
  content: '♠';
}
.card.suitdiamonds:before,
.card.suitdiamonds:after {
  content: '♦';
}
.card.suitclubs:before,
.card.suitclubs:after {
  content: '♣';
}

div[class*='suit']:before {
  position: absolute;
  font-size: 14px;
  left: 5px;
  top: 5px;
}

div[class*='suit']:after {
  position: absolute;
  font-size: 14px;
  right: 5px;
  bottom: 5px;
}
